
#main {  
  margin-top: 106px;  
  font-size: 80%;    
  width: 80%;
  height: 100%;
  margin-left:auto;
  margin-right: auto;  
  text-align: center;
  position: relative; 
}

#myHeader {
	width:100%;
	border: 1px solid green;
	background-color:white;
	position:fixed;
	top:0;left:0;
	z-index:100001;
	height:44px;
	padding:0;
	opacity:0.8;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0px 1px #eee;
}

#header {
	margin-top:0;
	height:44px;
	font-size:13px;
	margin-left:auto;
	margin-right:auto;    
	line-height: 44px;
	max-width:1000px;
	width:80%;
}

@media screen and (max-width:1000px) {
	#header {
		width:100%;
	}
}

@media screen and (max-width:800px) {
	#header select {
		display:none;
	}
}

@media screen and (max-width:640px) {
	.logo {
		display:none;
	}
	#header {
		text-align:center;
		overflow:hidden;
	}
}

.table {
  position: relative;
  width:100%;
  background-color:white;    
  overflow:auto;  
  margin-top: 53px;
  margin-bottom:25px;
  height: 1100px;
  opacity:0.8;
}


.logo {  
  font-size:30px;
  color:#1f1f1f;
  text-shadow: 1px 1px #ccc;
  float:left;
  width:154px;
  height:44px;
  background-position:0px 0px;
}

body{  
   font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
   background-color: whitesmoke;
	background-image: url("../../ericsson/image/ericsson_background.png");
	background-size: cover;
}

a, a:visited {
    text-decoration:none;
    color:black;
    border-radius:0.2em;
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in;
}

a:hover{
    color:#00FF80;
}

a:active {
  color:#FF2300;
}

.menu{   
	background-color:#fff;	  
	background: rgba(0, 0, 0, 0.6);
}
.menu a {
  margin-right: 19px;
}


.menu ul
{
position:relative;
float:right;
list-style-type: none;
padding-right: 60px;
padding: 2px;

}

.menu li{
position:relative;
float:down;
}

