#topMenu{
	position: relative;
	width:100%;
	border: 1px solid green;
	background-color:#0B615E;
	height:80px;
	opacity:0.8;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0px 1px #eee;
}

#itemTable{
	position: relative;
	width:100%;
	height:980px; 
	opacity:0.8;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0px 1px #eee;
}

.tool, .router, .arrange{
	cursor:pointer;
	position:relative;
	width:7em; height:3em;  
	border:1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	filter:alpha(opacity=80);
	text-align:center;
	z-index:20; position:absolute;
	background-color:#eeeeef;
	color:black;
	font-family:helvetica;padding:0.5em;
	font-size:0.9em;
}

.router:hover, .tool:hover, .arrange:hover{
	cursor:pointer;
	box-shadow: 2px 2px 19px #444;
	-o-box-shadow: 2px 2px 19px #444;
	-webkit-box-shadow: 2px 2px 19px #444;
	-moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
	color: #31B404;
	filter:alpha(opacity=60);
}

.activeTool, .portTable{
	cursor:pointer;
	position:relative;
	width:100px; height:50px;  
	border:1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	filter:alpha(opacity=80);
	text-align:center;
	z-index:20; position:absolute;
	background-color:#eeeeef;
	color:black;
	font-family:helvetica;padding:0.5em;
	font-size:0.9em;
}

.activeTool:hover, .portTable:hover{
	box-shadow: 2px 2px 19px #444;
	-o-box-shadow: 2px 2px 19px #444;
	-webkit-box-shadow: 2px 2px 19px #444;
	-moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
	color: #31B404;
	filter:alpha(opacity=60);
}

.port, .activePort{
	width:10px;
	height:10px;  
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius:0.5em;
	border-radius:50%;
	filter:alpha(opacity=.8);
	background-color:#2E2E2E;
	color:#eeeeef;
	opacity: 0.8;
	font-size:0.7em;
}

.port:hover{
	width:20px;
	height:20px;
	font-size:2em;
	box-shadow: 2px 2px 19px #444;
	-o-box-shadow: 2px 2px 19px #444;
	-webkit-box-shadow: 2px 2px 19px #444;
	-moz-box-shadow: 2px 2px 19px #444;
    opacity:.99;
	color:#0B2161;
	background-color:#00FF00;
	filter:alpha(opacity=60);
}

.activePort{
	width:3px;
	height:3px;
	background-color:#FFFFFF;
}


.portTable{
	opacity:0.7;
}


#save{
	top:1em;
	left:17em;
}

#remove{
	top:1em;
	left:44em;
}

#Router{
	position:absolute;
	left:24em;
}

#Switch{
	position:absolute;
	left:49em;
}

#topMenu ul
{
	
	font-weight:900;
	float:left;
	list-style-type: none;
}

#topMenu ul li{
	position:relative;list-style:none;cursor:pointer;
}

#topMenu ul li ul{
	position:relative;left:0;right:0;
}

#itemBox_1{
	top:8em;
	Right:2em;
	width:15em; height:15em;  
}

#popProp{
	top:8em;
	Left:16.5em;
	width:15em; height:20em;  
	opacity: 0.9;
}


#new_popProp{
	top:8em;
	Left:16.5em;
	width:15em; height:13em;  
	opacity: 0.9;
}

#saveProp{
	top:8em;
	Left:16.5em;
	width:15em; height:9em;  
	opacity: 0.9;
}

#enablePorts{
	top:8em;
	Left:16.5em;
	width:15em; height:9em;  
	opacity: 0.9;
}
